# top-most EditorConfig file
root = true

# Defaults for every file
[*]
end_of_line = lf
charset = utf-8

insert_final_newline = true
trim_trailing_whitespace = true

max_line_length = 152

# Idris source files
[*.{idr,ipkg,tex,yaff,lidr}]
indent_style = space
indent_size = 2

# Various configuration files
[{*.yml,.ecrc}]
indent_style = space
indent_size = 2

[*.{c,h}]
indent_style = space
indent_size = 4

[*.{md,rst}]
indent_style = space
indent_size = 2

[{*.sh,run,*.bat,.patch-*}]
indent_style = space
indent_size = 2
shell_variant = posix
switch_case_indent = true
space_redirects = true

[{Makefile,*.mk}]
indent_style = tab

[expected]
trim_trailing_whitespace = false
max_line_length = off

[*.py]
indent_style = space
indent_size = 4
