[submodule "thirdparty/elab-util"]
	path = thirdparty/elab-util
	url = https://github.com/buzden/idris2-elab-util
	branch = pre-con-overhaul
[submodule "thirdparty/sop"]
	path = thirdparty/sop
	url = https://github.com/buzden/idris2-sop
	branch = pre-con-overhaul
[submodule "thirdparty/summary-stat"]
	path = thirdparty/summary-stat
	url = https://github.com/buzden/idris2-summary-stat
