variables:
  GIT_SUBMODULE_STRATEGY: recursive
  PACK_DIR: /root/.pack

default:
  image: ghcr.io/stefan-hoeck/idris2-pack:latest
  interruptible: true
  before_script:
    - find . -name '.pack.*.tar' -exec tar -xf '{}' --one-top-level=/ --touch \;
  after_script:
    - rm -f .pack.*.tar
    - |
      if [[ "$CI_JOB_NAME" =~ ":build" || "$CI_JOB_NAME" =~ "pack:" ]]
        then tar -cf "$CI_PROJECT_DIR/.pack.${CI_JOB_NAME/:/-}.tar" --exclude=".cache" "$PACK_DIR"
      fi
  artifacts:
    paths:
      - "**/build/**/*.tt[cm]"
      - ".pack.*.tar"
    expire_in: 3 hrs

pack:prepare:
  stage: .pre
  script:
    - pack update-db
    - pack switch "$( if [[ "$CI_PIPELINE_SOURCE" == 'schedule' ]]; then echo latest; else cat .pack-collection; fi )"

stages:
  - thirdparties:build
  - lint
  - deptycheck:build
  - deptycheck:docs
  - deptycheck:install
  - deptycheck:test:lib
  - deptycheck:test:docs
  - deptycheck:test:derive
  - pil:build
  - pil:test

thirdparties:build:
  stage: thirdparties:build
  needs:
    - pack:prepare
  script:
    - pack install elab-util sop summary-stat

deptycheck:build:
  stage: deptycheck:build
  needs:
    - thirdparties:build
  script:
    - make deptycheck

deptycheck:docs:
  stage: deptycheck:docs
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx:latest
  needs: []
  script:
    - pip3 install -r docs/requirements.txt
    - make docs

deptycheck:install:after_build:
  stage: deptycheck:install
  needs:
    - deptycheck:build
  script:
    - make test-installation

deptycheck:install:clean:
  stage: deptycheck:install
  needs:
    - pack:prepare
  script:
    - make test-installation

deptycheck:test:lib:
  stage: deptycheck:test:lib
  needs:
    - deptycheck:build
  script:
    - make test-deptycheck only=lib/ INTERACTIVE="--color"

deptycheck:test:docs:
  stage: deptycheck:test:docs
  needs:
    - deptycheck:build
  script:
    - make test-deptycheck only=docs/ INTERACTIVE="--color"

deptycheck:test:derive:
  stage: deptycheck:test:derive
  needs:
    - deptycheck:build
    - deptycheck:test:lib
  only:
    changes:
      - "*"
      - src/**/*
      - tests/*
      - tests/gen-derivation/**/*
      - depends/**/*
  parallel:
    matrix:
      - test_set:
        - inputvalidation/
        - up-to-renaming-ttimp-eq/
        - canonicsig/
        - cons-analysis/
        - derivation/infra/
        - arg-deps/
        - derivation/least-effort/print
        - derivation/least-effort/run
        - derivation/core/
  script:
    - make test-deptycheck only=gen-derivation/"$test_set" INTERACTIVE="--color" threads=2

pil:build:
  stage: pil:build
  needs:
    - deptycheck:build
  script:
    - make pil

pil:test:
  stage: pil:test
  needs:
    - pil:build
    - deptycheck:test:lib
  script:
    - make test-pil INTERACTIVE="--color"

include:
  - remote: 'https://jobs.r2devops.io/latest/super_linter.yml'

super_linter:
  stage: lint
  needs: []
  image:
    name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/github/super-linter:slim-v4
  variables:
    VALIDATE_JSCPD_ALL_CODEBASE: "true"
