---
name: Non-primary OS

on:
  push:
    branches:
      - '**'
    tags:
      - '**'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  statuses: write

concurrency:
  group: ${{ github.workflow }}@${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Clone on Windows
    # Disable PR from the same repo
    if: github.event_name != 'pull_request' ||
        github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name
    runs-on: windows-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v4
